@model TP_CAISSE.ViewModel.ProductViewModel

@{
    ViewData["Title"] = "Ajouter un produit";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="AddProduct" method="post">
    <div class="form-group">
        <label for="Name">Nom</label>
        <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" required />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" id="Description" name="Description" class="form-control" value="@Model.Description" required />
    </div>

    <div class="form-group">
        <label for="Price">Prix</label>
        <input type="number" id="Price" name="Price" class="form-control" value="@Model.Price" required />
    </div>

    <div class="form-group">
        <label for="Stock">Stock</label>
        <input type="number" id="Stock" name="Stock" class="form-control" value="@Model.Stock" required />
    </div>
    <div class="form-group">
        <label for="CategoryId">Catégorie</label>
        <select id="CategoryId" name="categoryId" class="form-control" required>
            <option value="">Sélectionner une catégorie</option>
            @foreach (var category in ViewBag.Categories as SelectList)
            {
                <option value="@category.Value">@category.Text</option>
            }
        </select>
    </div>


    <button type="submit" class="btn btn-success">Ajouter</button>
</form>

<a href="@Url.Action("GetAllProducts", "Product")" class="btn btn-secondary">Retour à la liste des produits</a>
